###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# Just one contact defined by default - the Nagios admin (that's you)
# This contact definition inherits a lot of default values from the 'generic-contact'
# template which is defined elsewhere.

#define contact{
#        contact_name                    nagiosadmin		; Short name of user
#	use				generic-contact		; Inherit default values from generic-contact template
#        alias                           Nagios Admin		; Full name of user
 #       email                           mscott@company.com	; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
 #       }


# 'billp1' contact definition
define contact{
        contact_name                    billp1
        alias                           Bill from Cool Air
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           5611234567@vtext.com
        }

# 'user-rrm' contact definition
define contact{
        contact_name                    user-rrm
        alias                           User 1 email
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           user-rr@company.com
        }

# 'user-rrp1' contact definition
define contact{
        contact_name                    user-rrp1
        alias                           User 1 Pager
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           5611234567@vtext.com
        }

# 'user-jm' contact definition
define contact{
        contact_name                    user-jm
        alias                           User 2
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           user-jja@company.com
        }

# 'josep1' contact definition
define contact{
        contact_name                    josep1
        alias                           User 2 Pager
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           555-123-4567 @tmomail.net
        }

# 'user-jrm' contact definition
define contact{
        contact_name                    user-jrm
        alias                           User 3
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           user-jr@company.com
        }

# 'user-hl' contact definition
define contact{
        contact_name                    user-hl
        alias                           User 4
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           5551234567@txt.att.net
        }

# 'user-d' contact definition
define contact{
        contact_name                    user-d
        alias                           Database Admin
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           user-d@company.com
        }

# 'user-d-nonprod' contact definition
define contact{
        contact_name                    user-d-nonprod
        alias                           Database Admin
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           user-d@company.com
        }

# 'user-jh' contact definition
define contact{
        contact_name                    user-jh
        alias                           user 5
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           user-jh@company.com
        }

# 'user-jhp1' contact definition
define contact{
        contact_name                    user-jhp1
        alias                           user 5 Pager
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email				5551234567@txt.att.net
        }

# 'user-pd' contact definition
define contact{
        contact_name                    user-pd
        alias                           user-pd
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           user-pd@company.com
        }

# 'user-pdp1' contact definition
define contact{
        contact_name                    user-pdp1
        alias                           user-pd Pager
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           puser-pd@gmail.com
        }

# 'gbarnard' contact definition
define contact{
        contact_name                    gbarnard
        alias                           Glenn Barnard
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           gbarnard@company.com
        }

# 'java' contact definition
define contact{
        contact_name                    java
        alias                           Java
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           java@company.com
	}

# 'level1' contact definition
define contact{
        contact_name                    level1
        alias                           Level1 Support
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           level1.support@company.com
	}

# 'user-ch' contact definition
define contact{
        contact_name                    user-ch
        alias                           user 7
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           user-ch@company.com
	}

# 'efarias' contact definition
define contact{
        contact_name                    efarias
        alias                           Eliane Farias
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           efarias@company.com
	}

# '<user-name>' contact definition
define contact{
        contact_name                    <user-name>
        alias                           user 8
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           <user-name>@company.com
	}

# '<user-name>p1' contact definition
define contact{
        contact_name                    <user-name>p1
        alias                           <user-name> Pager
       	service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           5615263569@tmomail.net
       	}

# 'user-hlp1' contact definition
define contact{
        contact_name                    user-hlp1
        alias                           User 4 Pager
       	service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           5611234567@vtext.com
       	}

# 'klofortep1' contact definition
define contact{
        contact_name                    klofortep1
        alias                           user-kmflPager
       	service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           5611234567messaging.sprintpcs.com
       	}

###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

# 'mscott' contact group definition
define contactgroup{
        contactgroup_name       mscott
        alias                   Nagios Admin
        members                 user-rrm
        }

# 'tempsensor' contact group definition
define contactgroup{
        contactgroup_name       tempsensor
        alias                   Temperator Pager
        members                 user-jm, josep1, user-jh, user-jhp1, user-rrm, user-rrp1, billp1, user-pd, user-pdp1, <user-name>, <user-name>p1
        }

# 'user-d' contact group definition
define contactgroup{
        contactgroup_name       user-d
        alias                   Database Administrators
        members                 user-d, user-jh, user-jm, user-pd, user-hl, user-rrm, user-pd, user-ch, efarias, <user-name>, klofortep1, user-hlp1
        }

# 'user-d-nonprod' contact group definition
define contactgroup{
        contactgroup_name       user-d-nonprod
        alias                   Database Administrators
        members 		user-d, user-jm, user-hl, user-rrm, <user-name>
        }

# 'admins' contact group definition
define contactgroup{
        contactgroup_name       admins
        alias                   Linux Administrators
        members                 user-rrm, user-jm, user-pd, user-ch, <user-name>
        }

# 'linux-admins' contact group definition
define contactgroup{
        contactgroup_name       linux-admins
        alias                   Linux Administrators
        members                 user-rrm, user-jm, user-pd, user-ch, <user-name>
        }

# 'linux-admins-nonprod' contact group definition
define contactgroup{
        contactgroup_name       linux-admins-nonprod
        alias                   Linux Administrators
        members                 user-rrm, user-jm, <user-name>
        }

# 'network-admins' contact group definition
define contactgroup{
        contactgroup_name       network-admins
        alias                   Network Administrators
        members                 user-jh, user-jm, josep1, user-pd, user-rrm, user-rrp1, user-ch, <user-name>,
        }
# 'network-mobile' contact group definition
define contactgroup{
        contactgroup_name       network-mobile
        alias                   Network Administrators
        members                 josep1, user-rrp1, <user-name>p1
        }

# '<user-name>p1' contact group definition
define contactgroup{
        contactgroup_name       <user-name>p1
        alias                   Tedley Tier III
        members                 <user-name>p1
        }

# 'user-rrp1' contact group definition
define contactgroup{
        contactgroup_name       user-rrp1
        alias                   Russ Tier III
        members                 user-rrp1
        }

# 'gbarnard' contact group definition
define contactgroup{
        contactgroup_name       gbarnard
        alias                   UAT DB Content
        members                 gbarnard
        }

# 'java' contact group definition
define contactgroup{
        contactgroup_name       java
        alias                   java
        members                 java, user-pd, user-ch, efarias
        }

# 'support' contact group definition
define contactgroup{
        contactgroup_name       support
        alias                   support
        members                 level1, user-pd
        }
